body {
    font: sans-serif;
}

header h2 {
    color: #4682B4;
    text-shadow: 2px 2px 3px darkblue;
    font-size: 250%;
    font-style: italics;
    font: san-serif;
}

header img {
    float: left;
    margin-right: 10px;
}

section a:link {
    color: #660000;
}

section a:visited {
    color: #4682B4;
}

section a:hover {
    color: #F0CB2A;
}

main h2 {
    font-style: italic;
    font-size: 180%;
}

aside a {
    font-weight: bold;
}

aside a:link,
aside a:visited {
    color: #4682B4;
}

aside a:hover {
    color: #660000;
    background-color: #F0F8FF;
}

ul {
    margin-bottom: 8px;
}

footer {
    font-size: 0.85em;
    text-align: center;
}
