body {
    font-family: sans-serif;
    width: 900px;
    margin: 0 auto;
    border: 5px solid steelblue;
    box-shadow: 5px 5px 10px black;
}

  header {
    position: relative;
    min-height: auto;
    background: linear-gradient(to bottom, white, lightSteelBlue);
  padding: 20px
          border-top: 5px solid steelblue;

 }
  header .header-content {
    position: relative;
    width: 100%;
 }

  header .header-content .header-content-inner h1 {
   font-weight: 700;
   color:steelblue;
   text-shadow: 2px 2px 5px steelblue;
  }

.header-content-inner img {
 float: left;   
}
h3{
    color: maroon;
    
}
h3:hover{
    color: steelblue;
}
footer{
    text-align: center;
     background-color: steelblue;
  color: white;
  padding: 10px;
  text-align: center;
}
